In [1]:
from bs4 import BeautifulSoup
import glob
import pandas as pd

# Initialize an empty list to store the data
data = []

# Loop through all HTML files matching the pattern
for filename in glob.glob('biz-*.html'):
    with open(filename, 'r', encoding='utf-8') as file:
        soup = BeautifulSoup(file, 'html.parser')
        
        # Extract the relevant information
        for business in soup.find_all('div', class_='business'):
            business_id = business.get('data-business-id')
            latitude = business.get('data-latitude')
            longitude = business.get('data-longitude')
            
            if business_id and latitude and longitude:
                data.append({
                    'business_id': business_id,
                    'latitude': float(latitude),
                    'longitude': float(longitude)
                })

# Convert to DataFrame
df_businesses = pd.DataFrame(data)
print(df_businesses.head())

Empty DataFrame
Columns: []
Index: []

In [3]:
from bs4 import BeautifulSoup

# Specify the path to your local HTML file
file_path = 'biz-94104.html'

# Open and read the local HTML file
with open(file_path, 'r', encoding='utf-8') as file:
    soup = BeautifulSoup(file, 'html.parser')

# Print the parsed HTML
print(soup.prettify())

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
<h1 class="text-center my-5">
 Businesses in 94104
</h1>
<div class="container">
 <div class="row">
  <table class="table">
   <tr>
    <th colspan="4">
     Tiramisu Kitchen
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7911
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.404
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     10
    </td>
    <td>
     address
    </td>
    <td>
     033 Belden Pl
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     Tiramisu LLC
    </td>
    <td>
     owner_address
    </td>
    <td>
     33 Belden St
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     779059
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     OMNI S.F. Hotel - 2nd Floor Pantry
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7929
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.403
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     24
    </td>
    <td>
     address
    </td>
    <td>
     500 California St, 2nd  Floor
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     OMNI San Francisco Hotel Corp
    </td>
    <td>
     owner_address
    </td>
    <td>
     500 California St, 2nd Floor
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     352312
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     OMNI S.F. Hotel - 3rd Floor Pantry
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7929
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.403
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     76
    </td>
    <td>
     address
    </td>
    <td>
     500 California St, 3rd Floor
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     OMNI San Francisco Hotel Corp
    </td>
    <td>
     owner_address
    </td>
    <td>
     500 California St, 3rd Floor
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     352312
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     OMNI S.F. Hotel - Employee Cafeteria
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7929
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.403
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     77
    </td>
    <td>
     address
    </td>
    <td>
     500 California St, Basement
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     OMNI San Francisco Hotel Corp
    </td>
    <td>
     owner_address
    </td>
    <td>
     500 California St, Basement
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     352312
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     Cafe Madeleine
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7933
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.4
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     140
    </td>
    <td>
     address
    </td>
    <td>
     300 California St
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     San Francisco Madeleine, Inc
    </td>
    <td>
     owner_address
    </td>
    <td>
     300 California St
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     356054
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     San Francisco Soup Co
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7891
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.403
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     164
    </td>
    <td>
     address
    </td>
    <td>
     50 Post St, 3rd Floor
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     San Francisco Soup Company LLC
    </td>
    <td>
     owner_address
    </td>
    <td>
     50 Post St, 3rd Floor
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     358709
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     C &amp; Y Cafe
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7931
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.401
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     178
    </td>
    <td>
     address
    </td>
    <td>
     400 California St  3rd Floor
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     Yan Situ
    </td>
    <td>
     owner_address
    </td>
    <td>
     400 California St  3rd Floor
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     361435
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     Caffe Ambrosia
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7901
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.403
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     428
    </td>
    <td>
     address
    </td>
    <td>
     14 Trinity Pl
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     Albert F Jeung
    </td>
    <td>
     owner_address
    </td>
    <td>
     14 Trinity Pl
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     303885
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     Happy Donuts
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7913
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.4
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     SAN FRANCISCO
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     892
    </td>
    <td>
     address
    </td>
    <td>
     100 Bush St #101
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     HAPPY DONUTS
    </td>
    <td>
     owner_address
    </td>
    <td>
     100 BUSH ST. STE 101
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     421676
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     Starbucks Coffee
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H24
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7928
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.404
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     1127
    </td>
    <td>
     address
    </td>
    <td>
     555 California St
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     Starbucks Coffee Company
    </td>
    <td>
     owner_address
    </td>
    <td>
     555  California St
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     911744
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     OMNI S.F. Hotel - Food &amp; Beverage Storeroom
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H25
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7929
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.403
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     1544
    </td>
    <td>
     address
    </td>
    <td>
     500 California St, Basement
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     OMNI San Francisco Hotel Corp
    </td>
    <td>
     owner_address
    </td>
    <td>
     500 California St, Basement
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     352312
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     Caffe Bianco
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H25
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7901
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.401
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     SAN FRANCISCO
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     1582
    </td>
    <td>
     address
    </td>
    <td>
     39 Sutter St
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     CAFFE BIANCO INC.
    </td>
    <td>
     owner_address
    </td>
    <td>
     39 SUTTER ST.
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     366452
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     Bistro Burger
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H25
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7908
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.403
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     SAN FRANCISCO
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     1623
    </td>
    <td>
     address
    </td>
    <td>
     333 Bush St
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     BISTRO BURGER INC.
    </td>
    <td>
     owner_address
    </td>
    <td>
     905 PORTOLA DR.
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     427437
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94127
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     Plouf
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H25
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7913
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.404
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     SAN FRANCISCO
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     1692
    </td>
    <td>
     address
    </td>
    <td>
     40 Belden Pl
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     PLOUF INC
    </td>
    <td>
     owner_address
    </td>
    <td>
     40 BELDEN PL
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     954490
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     B44
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H25
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7913
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.404
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     1831
    </td>
    <td>
     address
    </td>
    <td>
     44 Belden Pl
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     Dolric Inc
    </td>
    <td>
     owner_address
    </td>
    <td>
     44  Belden Pl
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     322442
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     Cafe Bastille
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H25
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7911
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.404
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     1837
    </td>
    <td>
     address
    </td>
    <td>
     22 Belden Pl
    </td>
   </tr>
   <tr>
    <td>
     owner_name
    </td>
    <td>
     Franco American Investment Inc
    </td>
    <td>
     owner_address
    </td>
    <td>
     22 Belden Place
    </td>
   </tr>
   <tr>
    <td>
     business_certificate
    </td>
    <td>
     198204
    </td>
    <td>
     owner_zip
    </td>
    <td>
     94104
    </td>
   </tr>
   <tr>
    <td>
     city
    </td>
    <td>
     San Francisco
    </td>
    <td>
     postal_code
    </td>
    <td>
     94104
    </td>
   </tr>
  </table>
  <table class="table">
   <tr>
    <th colspan="4">
     Cafe Venue
    </th>
   </tr>
   <tr>
    <td>
     phone_number
    </td>
    <td>
     null
    </td>
    <td>
     tax_code
    </td>
    <td>
     H25
    </td>
   </tr>
   <tr>
    <td>
     latitude
    </td>
    <td>
     37.7911
    </td>
    <td>
     longitude
    </td>
    <td>
     -122.402
    </td>
   </tr>
   <tr>
    <td>
     owner_city
    </td>
    <td>
     DANVILLE
    </td>
    <td>
     owner_state
    </td>
    <td>
     CA
    </td>
   </tr>
   <tr>
    <td>
     business_id
    </td>
    <td>
     1854
    </td>
    <td>
     address
    </td>
    <td>